body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
  padding: 15px;
  text-align: left;
}

h1 {
  color: lightblue;
}


.nav-item {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin: 40px;
}


#imageOfLocation {
  display: block;
  max-width:600px;
  max-height:1000px;
  width: auto;
  height: auto;
}

#wrap {
  max-width: 100%;
  height: auto;
}

#place{
  display: flex;

}

.hidden {
  display: none;
}